/* Ajouter une bordure arrondie et fine à votre formulaire */
form {
    
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 2.0);
    border-radius: 10px;
    padding: 20px;
  }
  

/* Changer la couleur de fond de votre page */
body {
  /*background-color: rgb(229, 240, 244);*/
}